<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Respostas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico') }}" type="image/x-icon">
    <!-- Chart.js CDN para o gráfico de médias -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body >
    Pagina de agradecimento
</body>
</html>